<div>
   <h2>レシピを投稿しよう！</h2>
</div>

<%= form_for @cooking do |f| %>
   <h2>レシピ名</h2>
      <%= f.label :name, "レシピ名" %>
      <%= f.text_field :name %>
   <h2>画像</h2>
      <%= f.label :image, "画像"%>
      <%= f.file_field :image %>
   <h2>材料</h2>
      <%= f.fields_for :materials do |m| %>
         <%= m.label :material %>
         <%= m.text_field :material, placeholder: '卵' %>
         <%= m.label :amount %>
         <%= m.text_field :amount, placeholder: '3個' %>
      <% end %>
   <h2>一言！！</h2>
      <%= f.label :text, "一言" %>
      <%= f.text_field :text%>
   <%= f.submit "投稿する" %>
<% end %>