<div>
   <h2>レシピを投稿しよう！</h2>
</div>

<%= form_for @cooking do |f| %>
   <%= f.label :name, "レシピ名" %>
   <%= f.text_field :name %>
   <%= f.label :image, "画像"%>
   <%= f.file_field :image %>
   <%= f.label :text, "こだわったところ" %>
   <%= f.text_area :text %>
   <%= f.label :chef, "chelsea chef" %>
   <%= f.text_field :chef %>
   <%= f.submit "投稿する" %>
<% end %>