<div>
   <h2>レシピを投稿しよう！</h2>
</div>

<%= form_for @cooking do |f| %>
   <h2>レシピ名</h2>
      <%= f.label :name, "レシピ名" %>
      <%= f.text_field :name %>
   <h2>画像</h2>
      <%= f.label :image, "画像"%>
      <%= f.file_field :image %>
   <h2>材料と分量</h2>
      <%= f.label :material_m,  "材料"%>
      <%= f.text_field :material_m %>
      <%= f.text_field :material_m %>
      <%= f.text_field :material_m %>
      <%= f.text_field :material_m %>
      <%= f.label :material_a, "分量" %>
      <%= f.text_field :material_a %>
      <%= f.text_field :material_a %>
      <%= f.text_field :material_a %>
      <%= f.text_field :material_a %>
      <%= f.text_field :material_a %>
   <h2>作り方</h2>
   <p>1</p>
      <%= f.label :image_1, "画像"%>
      <%= f.file_field :image_1 %>
   <p>2</p>
      <%= f.label :image_2, "画像"%>
      <%= f.file_field :image_2 %>
   <p>1</p>
      <%= f.label :image_3, "画像"%>
      <%= f.file_field :image_1 %>
   <p>1</p>
      <%= f.label :image_4, "画像"%>
      <%= f.file_field :image_1 %>
   <p>1</p>
      <%= f.label :image_5, "画像"%>
      <%= f.file_field :image_1 %>
   <p>1</p>
      <%= f.label :image_6, "画像"%>
      <%= f.file_field :image_1 %>
   <h2>一言！！</h2>
      <%= f.label :text, "一言" %>
      <%= f.text_field :text%>
   <%= f.submit "投稿する" %>
<% end %>